{
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/recommended",
		"plugin:@typescript-eslint/eslint-recommended"
	],
	"plugins": [
		"@typescript-eslint"
	],
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"sourceType": "module",
		"ecmaVersion": 2018
	},
	"env": {
		"node": true,
		"jest": true,
		"es6": true,
		"browser": true
	},
	"settings": {
		"react": {
			"version": "latest"
		}
	},
	"rules": {
		"camelcase": [
			"error",
			{
				"properties": "always"
			}
		],
		"require-jsdoc": [
			"error",
			{
				"require": {
					"FunctionDeclaration": true,
					"MethodDefinition": true,
					"ClassDeclaration": true
				}
			}
		],
		"valid-jsdoc": [
			"error",
			{
				"requireReturn": false,
				"preferType": {
					"String": "string",
					"Object": "object",
					"Number": "number",
					"Function": "function",
					"Void": "void"
				}
			}
		],
		"quotes": [
			"error",
			"single",
			"avoid-escape"
		],
		"key-spacing": [
			"error",
			{
				"singleLine": {
					"beforeColon": false,
					"afterColon": true
				},
				"multiLine": {
					"beforeColon": false,
					"afterColon": true
				}
			}
		],
		"no-magic-numbers": [
			"error",
			{
				"ignoreArrayIndexes": true
			}
		],
		"eqeqeq": "error",
		"block-scoped-var": "error",
		"complexity": [
			"error",
			{
				"maximum": 20
			}
		],
		"curly": "error",
		"default-case": "error",
		"dot-location": [
			"error",
			"property"
		],
		"guard-for-in": "error",
		"no-eval": "error",
		"block-spacing": "error",
		"brace-style": "error",
		"comma-spacing": [
			"error",
			{
				"before": false,
				"after": true
			}
		],
		"id-length": [
			"error",
			{
				"min": 2,
				"properties": "never",
				"exceptions": [
					"$"
				]
			}
		],
		"indent": [
			"error",
			"tab",
			{
				"MemberExpression": "off",
				"SwitchCase": 1
			}
		],
		"space-before-function-paren": [
			"error",
			"never"
		],
		"space-before-blocks": "error",
		"prefer-const": "error",
		"no-var": "error",
		"arrow-body-style": "off",
		"arrow-spacing": "error",
		"strict": [
			"error"
		],
		"no-warning-comments": [
			"warn",
			{
				"terms": [
					"todo",
					"fixme",
					"hack"
				],
				"location": "anywhere"
			}
		],
		"semi": [
			"error"
		]
	}
}
